.setTable{width:100%;margin-bottom:20px}
.setTable th
,.setTable td{padding:3px;line-height:1.42857143;vertical-align:top;border-bottom:1px solid #ddd;-webkit-transition:all .3s cubic-bezier(.175,.885,.32,1);-o-transition:all .3s cubic-bezier(.175,.885,.32,1);transition:all .3s cubic-bezier(.175,.885,.32,1)}
.setTable>thead>tr>th{vertical-align:bottom;background-color:#f1f1f1;border-bottom:1px solid #ddd}
